.img-size {
    height: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.movie-box {
    left: 10%;
    top: 30px;
}

.movie-details {
    margin: 2%;
}

.p-t-75 {
    padding-top: 75vh;
}

.cursor-pointer {
    cursor: pointer;
}