<div *ngIf="!movieDetails" class="row">
  <div class="col-md-12">
    <div class="col-md-3 movie-details cursor-pointer" *ngFor="let movie of movieList" (click)="showDetails(movie)">
      <img class="img-size" src={{movie.image}} /> <br>
      <a >{{movie.name}}</a>
    </div>
  </div>
</div>

<!-- Movie details -->
<div *ngIf="movieDetails" class="col-md-8 movie-box">
  <span class="pull-right" (click)="this.movieDetails = undefined"><i class="fas fa-times fa-2x"></i></span>
  <span class="pull-right p-r-10" (click)="deleteMovie(movieDetails)"><i class="fas fa-trash-alt fa-2x"></i></span>
    <img class="col-md-5" src={{movie.image}}>
    <div class="col-md-5">
      <div>Name: {{movieDetails.name}}</div>
      <div>Genere: {{movieDetails.genere}}</div>
      <div>Duration: {{movieDetails.duration}}</div>
      <div>Rating: <rating [(ngModel)]="movieDetails.rating" (click)="addRating(movieDetails.rating)"></rating></div>
    </div>
  
</div>
